@import url('https://fonts.googleapis.com/css?family=League+Spartan:700&display=swap');

body {
  margin: 0;
  font-family: 'League Spartan', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cs-w{
  width: 40% !important;
}

.cs-h{
  min-height: 100vh;
}

/*Background colors*/
.cs-bg-1{
  background-color: hsl(222, 26%, 31%);
  transition: .5s;
}

.cs-bg-2{
  background-color: hsl(0, 0%, 90%);
  transition: .5s;
}

.cs-bg-3{
  background-color: hsl(268, 75%, 9%);
  transition: .5s;
}

/*Element background colors*/
.cs-item-1-bg-1{
  background-color: hsl(224, 36%, 15%);
  transition: .5s;
}

.cs-item-1-bg-2{
  background-color: hsl(0, 0%, 93%);
  transition: .5s;
}

.cs-item-1-bg-3, .cs-item-2-bg-3{
  background-color: hsl(268, 71%, 12%);
  transition: .5s;
}

.cs-item-2-bg-1{
  background-color: hsl(223, 31%, 20%);
  transition: .5s;
}

.cs-item-2-bg-2{
  background-color: hsl(0, 5%, 81%);
  transition: .5s;
}

/*Check box*/

/*Text*/
.cs-fc-1{
  color: hsl(0, 0%, 100%) !important;
  transition: .5s;
}

.cs-fc-2{
  color: hsl(60, 10%, 19%) !important;
  transition: .5s;
}

.cs-fc-3{
  color: hsl(52, 100%, 62%) !important;
  transition: .5s;
}

.cs-fs{
  font-size: 40px !important;
}

.cs-fs-2{
  font-size: 15px !important;
}

/*Button*/
.cs-bt-1{
  background-color: hsl(30, 25%, 89%) !important;
  color: hsl(221, 14%, 31%) !important;
  border: solid 3px transparent !important;
  border-bottom: solid 3px hsl(28, 16%, 65%) !important;
}

.cs-bt-1:hover{
  background-color: hsl(0, 0%, 100%) !important;
}

.cs-bt-2{
  background-color: hsl(45, 7%, 89%) !important;
  color: hsl(60, 10%, 19%) !important;
  border: solid 3px transparent !important;
  border-bottom: solid 3px hsl(35, 11%, 61%) !important;
}

.cs-bt-2:hover{
  background-color: hsl(0, 0%, 100%) !important;
}

.cs-bt-3{
  background-color: hsl(268, 47%, 21%) !important;
  color: hsl(52, 100%, 62%) !important;
  border: solid 3px transparent !important;
  border-bottom: solid 3px hsl(290, 70%, 36%) !important;
}

.cs-bt-3:hover{
  background-color: hsl(268, 47%, 51%) !important;
}

.cs-bt-1-1{
  background-color: hsl(225, 21%, 49%) !important;
  color: hsl(0, 0%, 100%) !important;
  border: solid 3px transparent !important;
  border-bottom: solid 3px hsl(224, 28%, 35%) !important;
}

.cs-bt-1-1:hover{
  background-color: hsl(225, 21%, 69%) !important;
}

.cs-bt-1-2{
  background-color: hsl(185, 42%, 37%) !important;
  color: hsl(0, 0%, 100%) !important;
  border: solid 3px transparent !important;
  border-bottom: solid 3px hsl(185, 58%, 25%) !important;
}

.cs-bt-1-2:hover{
  background-color: hsl(185, 42%, 57%) !important;
}

.cs-bt-1-3{
  background-color: hsl(281, 89%, 26%) !important;
  color: hsl(0, 0%, 100%) !important;
  border: solid 3px transparent !important;
  border-bottom: solid 3px hsl(285, 91%, 52%) !important;
}

.cs-bt-1-3:hover{
  background-color: hsl(281, 89%, 46%) !important;
}

.cs-bt-2-1{
  background-color: hsl(6, 63%, 50%) !important;
  color: hsl(0, 0%, 100%) !important;
  border: solid 3px transparent !important;
  border-bottom: solid 3px hsl(6, 70%, 34%) !important;
}

.cs-bt-2-1:hover{
  background-color: hsl(6, 63%, 70%) !important;
}

.cs-bt-2-2{
  background-color: hsl(25, 98%, 40%) !important;
  color: hsl(0, 0%, 100%) !important;
  border: solid 3px transparent !important;
  border-bottom: solid 3px hsl(25, 99%, 27%) !important;
}

.cs-bt-2-2:hover{
  background-color: hsl(25, 98%, 70%) !important;
}

.cs-bt-2-3{
  background-color: hsl(176, 100%, 44%) !important;
  color: hsl(198, 20%, 13%) !important;
  border: solid 3px transparent !important;
  border-bottom: solid 3px hsl(177, 92%, 70%) !important;
}

.cs-bt-2-3:hover{
  background-color: hsl(176, 100%, 74%) !important;
}

.form-check-input{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.cs-checkbox-1 .form-check-input:checked {
  background-color: hsl(6, 63%, 50%) !important;
}

.cs-checkbox-2 .form-check-input:checked {
  background-color: hsl(25, 98%, 40%) !important;
}

.cs-checkbox-3 .form-check-input:checked {
  background-color: hsl(176, 100%, 44%) !important;
}

@media (max-width: 921px){
  .cs-w{
    width: 95% !important;
  }
}